/*@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  box-sizing: none;
}

/* Variables de color si el tema es nulo o light */
html {
  --quaternary-color: #faf3e0;
  --terciary-color: -webkit-linear-gradient(to right, #89fcfc, #6ab6df);
  --secondary-color: linear-gradient(to right, #b5caf0, #3a6cf7);
  --primary-color: #282c34;
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #282c34;
  --terciary-color: transparent;
  --quaternary-color: #ac8b6b;
}

body {
  /*background: #efefbb;*/
  background: var(--secondary-color, --terciary-color);

  display: flex;
  align-items: center;
  justify-content: center;
  /*font-family: "Lato";*/
  font-family: "DotGothic16", sans-serif;
  margin: 0;
  color: var(--primary-color);
}

.App {
  text-align: center;
}

.card {
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: var(--quaternary-color);
  margin: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 6px 10px 5px 0px rgba(228, 227, 228, 0.75);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.ml-4 {
  margin-left: 4px;
}
